/* NAV */

.black-bar{
    padding-top:10px;
    padding-bottom:10px;
    display: flex;
    flex-direction: row-reverse;
    background-color: black;
}

.black-bar img{
    width: 70px;

}

.navbar{
    background-color:rgb(236, 239, 241); 
}

/* /NAV */

/* JUMBO */

#jumbo {
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: center;
    color: white;
}

#jumbo .content img{
    width: 70%;
}

#jumbo .content button{
    border-radius: 200px;

}

.content-box {
    padding-top: 30%;
    padding-bottom: 10%;
}
