/* NAV */

.black-bar{
    padding-top:10px;
    padding-bottom:10px;
    display: flex;
    flex-direction: row-reverse;
    background-color: black;
}

.black-bar img{
    width: 70px;

}

.navbar{
    background-color:rgb(236, 239, 241); 
}

/* /NAV */

/* JUMBO */

#jumbo {
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: center;
    color: white;
}

#jumbo .content img{
    width: 70%;
}

#jumbo .content button{
    border-radius: 200px;

}

#jumbo .content-box {
    padding-top: 30%;
    padding-bottom: 10%;
}

/* /JUMBO */

/* SLIDES */

#slides .content{
    margin-top: 30px;
}

#slides .box_img{ 
    border-radius: 20px;
    border:2px solid white;
    overflow: hidden;
}

#slides .box_img img{
    width: 100%;
    border:2px solid white;
    border-radius:20px;
}
 
#slides .box_img:hover{
    border:2px solid blue;
}

/* PS5 */

#ps5 .presentation{
    text-align: center;
    margin-top:80px;
    margin-bottom:30px;
}

#ps5 .presentation h6{
    color:rgb(42, 42, 238);
}

#ps5 .tiny_title{
    margin-top:30px; 
}

#ps5 .tiny_title button{
    border-radius: 20px;
    color: white;
    background-color:blue;
}

#ps5 .thumb{
    width: 100%;
    margin-top:30px; 
}

#ps5 .box-accessori{
    margin:0 auto;
}

#ps5 .accessori img{
    width: 100%;
    opacity: 0.5;
}

#ps5 .accessori{
    font-size:12px;
    margin-top:20px;

}

#ps5 .accessori img:hover{
    border-bottom:2px solid blue;
    opacity: 1;
}

/* IT TAKES TWO */


#it_takes_two .content_box .content img{
    width: 70%;
}

#it_takes_two{
    margin-top:20px;
    background-image:url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-position: center;
    background-size: cover;
}

#it_takes_two .content_box {
    padding-top: 10%;
    padding-bottom: 10%;
    color: white;
}

#it_takes_two .content_box button{
    border-radius: 200px;
} 

/* NEW GAMES */

#new_games .new_games {
    padding-bottom:60px;
    padding-top:30px;
    color:white;
    background-color: #414040;
    
}

#new_games .game_banner img{
    width: 100%;
    border-radius:20px;
    

}

#new_games .game_banner:hover{
    border-radius:20px;
    border:4px solid blue;
}
/* PS4 */

#ps4 .ps4_title {
    font-size:14px;
    text-align: center;
    margin-top:50px;
    margin-bottom:30px;
}

#ps4 .thumb{
    width:100%;
}


#ps4 button{
    color: white;
    background-color: blue;
    border-radius: 20px;
    margin-bottom:30px;
    margin-top:10px;
}

/* PS_PLUS */

#ps_plus .ps_plus_cont{
    margin-top:30px;
    background-color: rgb(148, 148, 148);
}

#ps_plus .plus_logo{
    width: 60%;
}

#ps_plus .plus_img{
    width: 100%;
}

#ps_plus .ps_plus_cont .description button{
    color: blue;
    background-color: #C7C2C2;
    border-radius: 20px;
    font-size:14px;

}

@media (max-width: 420px) {
    #ps_plus .plus_img {
        display: none;
    }
}

/* Ps sales */

#sales .sales_store{
    margin-top:30px;
}


#sales .sales_title{
   text-align: center;
}

#sales .sales_content img{
    width: 100%;
}

/* PS NOW */